.curveContainer {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 15%;
    right: 10%;
    transform: rotate(40deg);
    box-shadow: 8px 8px 15px 3px #FFCAD4;
}

.curveContainer {
    display: flex;
    flex-direction: column;

}